{% extends "Team/base.html" %}
{% load static %}
{%block head%}
<link rel="stylesheet" type="text/css" href="{% static 'Team/detail.css' %}">
{%endblock head%}
{% block content %}
<div class="row">
    <div class="col-md-4">
    </div>
 <div class="col-md-4">
<div class="detail-total border border-info">



    <div class="detail-body">
    <h3 class="text-secondary">Akshay <span class="text-muted">9442375118</span></h3>
    <h3 class="text-secondary">Ashwin  <span class="text-muted">9597378174</span></h3>
    <h3 class="text-secondary">Deepak <span class="text-muted">9444545845</span></h3>
    <h3 class="text-secondary">Selva Prince <span class="text-muted">9629338577</span></h3>
   <h3 class="text-secondary">Yuva ajay <span class="text-muted">9080535361</span></h3>
        </div>

</div>
 </div>
</div>


{% endblock content %}