.list-total{
padding:0px;
margin:20px;
text-align:center;
background-color:grey;
}
.list-vs{
text-align:center;
padding-top:10px;
}

a{
text-decorations:None;
color:black;
}

a:hover{
text-decorations:None;
color:black;
}
.detail-head{
background-color:grey;
text-align:center;
}
.detail-body{
text-align:center;
}
.detail-info{
margin:75px;
}